
<app-filter (applyFilters)="onApplyFilters($event)" (resetFilters)="onResetFilters()"></app-filter>
<div
  class="table-container"
  *ngIf="!isLoading && processedData.length > 0; else noDataTemplate"
>
  <div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>POI</th>
        <th>Tempo total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of processedData">
        <td>{{ item.plate }}</td>
        <td>{{ item.poiName }}</td>
        <td>{{ item.totalTime | secondsToTime }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noDataTemplate>
  <div *ngIf="isLoading; else noResults" class="loading-indicator">
    <div class="spinner"></div>
  </div>

  <ng-template #noResults>
    <p class="no-data-message">
      Não foram encontrados registros com os filtros aplicados.
    </p>
  </ng-template>
</ng-template>
