<div class="filter-container">
  <label for="plateInput" class="form-label">Placa</label>
  <input
    type="text"
    [formControl]="plateFilter"
    class="form-control"
    placeholder="Digite a placa"
    (keydown.enter)="onApplyFilters()"
    (input)="onFilterChange()"
  />

  <label for="dateInput" class="form-label">Data</label>
  <input
    type="date"
    [formControl]="dateFilter"
    class="form-control"
    (change)="onFilterChange()"
  />

  <button
    class="mob-button"
    (click)="filtersApplied ? onResetFilters() : onApplyFilters()"
    [disabled]="!canApplyFilters()"
  >
    {{ filtersApplied ? "Limpar Filtros" : "Aplicar Filtros" }}
  </button>
</div>
